*{
    box-sizing: border-box;
}
div{
    border: 1px solid blue;
    padding: 3px;
}
body{
    margin: 0;
    padding: 0;

}
html,
body{
    display: flex;
    flex-direction: column;
    background: purple;
    height: 100vh;
}

.add-item {
    /* flex-grow: 1; */
    display: flex;
    background:purple;
}

.add-item input{
    flex-grow: 1;
}

.todo{
    flex-grow: 1;
    background:rgb(104, 47, 131);
} 

.done{
    flex-grow: 1;
    background: blue;
}