*{
    box-sizing: border-box;
}
div {
    border: 1px solid blueviolet;
    padding: ;
}
html,
body{
    padding: 0;
    margin: 0;
}
body{
    display:flex;
    border: 1px solid red;
    height: 100vh;
    flex-direction: column;
}

.add-item{
    display: flex;
    background: lightblue;
}
.add-item imput{
    flex-grow: 1;
}
.todo{
    flex-grow: 1;
    background: royalblue;
}
.done{
    flex-grow: 1;
    background: slateblue;
}